<?php

// copy this file to config.php and set your MySQL and SPARQL details

class Config {
    const MYSQL_HOST = "localhost";
    const MYSQL_DB = "open_data";
    const MYSQL_USERNAME = "root";
    const MYSQL_PASSWORD = "";

    const SPARQL_ENDPOINT = "http://sparql.data.southampton.ac.uk/";
    const SPARQL_TIMEOUT = 20;

    const PREDICATE_FILE_PATH = "predicates.txt";
    const NAMESPACE_FILE_PATH = "namespaces.txt";
}
